body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.modos button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

#jogos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.jogo {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
}

.letra {
  width: 50px;
  height: 50px;
  border: 2px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.certa { background: #3aa394; }
.existe { background: #d3ad69; }
.errada { background: #312a2c; }
